.lb_hexa {
  position: absolute;
  bottom: 60px;
  left: 45px;
  width: 180px;
  height: 155px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../../assets/LB_hexa.png');
}
