.wrapper {
    margin: 192px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    position: relative;
}

.wrapper.light {
   & .title span {
        color: #0F73EF;
    }
    & .description{
        color: #4B576C;
    }
    & .icon path{
        fill: #0F73EF;
    }
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 84px;
    width: 720px;
    height: 95px;
    margin: 0 auto;
    overflow: hidden;
    border-right: 2px solid transparent;
    animation: typing 2.5s steps(40, end), blink-caret .5s step-end 6;
    white-space: nowrap;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 720px;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: rgb(189, 189, 189);
    }
}

.title span {
    background-image: linear-gradient(to right top, #05F0FD 29%, #025CF1 71%);
    background-clip: text;
    color: transparent;
}

.informationBlocks {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.informationBlock {
    width: 260px;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-gap: 10px;
    grid-template-areas: " icon title""icon description ";
}


.titleBlock {
    font-size: 24px;
    font-weight: 700;
    grid-area: title;
    line-height: 30px;
    white-space: pre-line;
}

.description {
    line-height: 24px;
    white-space: pre-line;
    font-size: 16px;
    font-weight: 400;
    color: #D5D5D5;
    grid-area: description;
}

.aboutUsLines {
    position: absolute;
    top: -208px;
    right: 0;
    width: 90px;
    height: 824px;
    background-image: url("../../../assets/img/aboutUsLines.svg");
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 1280px) {
    .aboutUsLines {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .wrapper {
        margin: 140px 0 0 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .wrapper {
        margin: 100px 0 0 0;
    }
    .title {
        font-size: 63px;
        line-height: 98px;
        width: 570px;
        animation: typing 2.5s steps(40, end), blink-caret .5s step-end 6;
    }
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 570px;
        }
    }
    .informationBlocks {
        flex-direction: column;
        align-items: center;
    }
    .informationBlock {
        margin-bottom: 50px;
    }
    .aboutUsLines {
        display: block;
        top: -0;
    }
}

@media (max-width: 767px) {
    .wrapper {
        margin: 100px 0 0 0;
        gap: 64px;
    }
    .title {
        font-size: 38px;
        line-height: 48px;
        width: 350px;
        height: 50px;
        animation: typing 2.5s steps(40, end), blink-caret .5s step-end 6;
    }
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 350px;
        }
    }
    .informationBlocks {
        flex-direction: column;
        align-items: center;
    }
    .informationBlock {
        margin-bottom: 50px;
    }
}

@media (max-width: 320px) {
    .informationBlock {
        width: calc(100% - 40px);
        margin: 0 20px 50px 20px;
    }
    .informationBlock:nth-child(2) {
        grid-template-rows: 60px 1fr;
    }
    .title {
        font-size: 30px;
        line-height: 38px;
        width: 270px;
        height: 40px;
        animation: typing 2.5s steps(40, end), blink-caret .5s step-end 6;
    }
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 270px;
        }
    }
}