.rb_hexa {
  position: absolute;
  bottom: 50px;
  right: 75px;
  width: 188px;
  height: 165px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../../assets/RB_hexa.png');
}
