.app {
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
  background: #12101A;
}

.app.light {
  color: #202124;
  background: linear-gradient(123.43deg, #F2F4F8 0.55%, #FFFFFF 100%);
}

.button {
  position: fixed;
  bottom: 0px;
  left: calc(50% - 50px);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  background: #007bff;
  cursor: pointer;
}

.button::after {
  content: '';
  position: absolute;
  left: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: transparent #007bff transparent transparent;
}

.button::before {
  content: '';
  position: absolute;
  right: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 0 30px;
  border-color: transparent transparent transparent #007bff;
}